.vs/
out/
Debug/
Release/
x64/
ARM64/
*.user
*.aps
*.pdb
*.obj
*.log
*.tlog
*.lastbuildstate
*.idb
*.cache
*.db
*.opendb
*.sys
*.inf
*.cer
*.recipe
*.bak
/examples.cpp
/FaradayRotation.slnx
/FaradayRotation.vcxproj
/FaradayRotation.vcxproj.filters
/Faraday_Rotation_Model.md
/main.cpp
/test_calendar.exe
/CALENDAR_USAGE.md
/test_calendar.cpp
/test_ionex.cpp
/test_wmm.cpp
