name: MSBuild

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  PROJECT_FILE_PATH: FaradayRotation.vcxproj
  BUILD_CONFIGURATION: Release
  BUILD_PLATFORM: x64

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Restore NuGet packages
      run: nuget restore ${{env.PROJECT_FILE_PATH}} -Verbosity quiet || echo "No NuGet packages to restore"

    - name: Build
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
        msbuild /m `
          /p:Configuration=${{env.BUILD_CONFIGURATION}} `
          /p:Platform=${{env.BUILD_PLATFORM}} `
          /p:PlatformToolset=v143 `
          ${{env.PROJECT_FILE_PATH}}

    - name: Upload Artifacts
      if: success()
      uses: actions/upload-artifact@v4
      with:
        name: FaradayRotation-Binary
        path: |
          x64/${{env.BUILD_CONFIGURATION}}/*.exe
